.xyz {

    margin: 20px 10px;

    padding: 33px 3px 1px 5px;
    margin-left: 280px;
    word-spacing: 30px;
    margin-right: -10px;
    margin-bottom: 3px;
    display: inline;
}

.abc {

    /* text-decoration: none;
   position: relative;  
   right: 20px;
   margin: 21px;
   padding:33px 6px 7px 10px; 
   display: inline-block;
   float: right; */

    display: inline-block;
    float: right;
    list-style: none outside none;
    margin: 0 auto;
    padding: 17px 0 0;
    text-align: center;
    width: 513px;


}

/* *{
    text-align: center;
} */
.css1 {
    margin: -54px;
    padding: 45px;
    text-decoration: none;
    color: rgb(184, 53, 96);


}

.css2 {
    margin: 84px;
    padding: 17px;
    text-decoration: none;
    color: grey;
}

.css3 {
    /* margin: 10px;
        padding: 10px; */
    text-decoration: none;
    color: grey;
}

.css4 {
    margin: 16px;
    padding: 62px;
    text-decoration: none;
    color: gray;
}

.abc1 {
    background: #eeebec;
    padding: 25px;
    margin: -7px;
    color: grey;
}

.asd {
    margin: 10px;
    padding: 10px;

}

.second {
    font-size: 18px;
    text-transform: capitalize;
    color: #7A6666;
    text-align: right;
    width: 418px;

    line-height: 24px;
    font-weight: normal;
}

.third {
    font-size: 29px;
    text-transform: capitalize;
    color: #E32A62;
    text-align: right;
    width: 658px;

    line-height: 24px;
    font-weight: normal;

}

.css5 {
    background: #eeebec;
    padding: 56px;
  margin: -7px;
  }


.four{
    color: #7a6666;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    width: 598px;
} 
.five{
    color: #7a6666;
    font-size: 15px;
    font-weight: normal;
 /* float: right;
 position: relative;
 display: inline-block;
 
 margin: 10px;
 padding: 10px; */
 display: block;
 width: 461px;
 line-height: 31px;
 
}
.five:hover{
    color: rgb(177, 214, 11);
}
.six{
    color: #7a6666;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    width: 726px;
    line-height: 0px;  
}
.seven{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: -280px;
  width: 723px;
    float: right;
}   
.css6{
     background: #c8c10d;
     margin: -5px;
  padding: 79px;
}
.eight{
color: white;
    float: right;
   font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin: 10px;
    padding: 10px;
    width: 1156px;
    text-decoration: none;
}
.nine{
    color: white;
    float: right;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin: -82px;
    padding: 7px;
    width: 996px;
    text-decoration: none;
}
.ten{
    color: white;
    float: right;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin: -82px;
    padding: 7px;
    width: 666px;
    text-decoration: none;
}
.eleven{
    color: white;
    float: right;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin: -82px;
    padding: 7px;
    width: 371px;
    text-decoration: none;
}
